* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y:scroll;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("links&images/double-background.png"); 
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

#cart-container {
    z-index: 10;
    width: 75vw;
    height: 85vh;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffa31a;
    background-color: #1b1b1b;
    padding: 5px 20px;
}

#cart-div {
    height: 80%;
    overflow-y: scroll;
}
h5{
    font-size: 1.5rem;
    color: black;
    
}
h6{
    font-size: 1.5rem;
    color: black;
}
.cart-bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    background-color: #ffa31a;
    border: 1px solid black;
    height: 20%;
    clear: both;
}

.remove-btn {
    background-image: url('links&images/remove-item.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
}

.cart-btn {
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid #ffa31a;
    font-size: large;
}

#checkout-btn {
    visibility: hidden;
}

#checkout-div {
    display: none;
    height: 80%;
}

#checkout-flex {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.card-input {
    height: 30px;
    width: 150px;
}

#checkout-labels {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.checkout-label {
    border: 1px solid #ffa31a;
    padding: 5px;
    background-color: black;
    color: white;
}

.checkout-label:hover, .checkout-label:active {
    background-color: white;
    color: black;
}

.payment-type {
    opacity: 0;
    height: 70%;
    width: 40%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.selected {
    background-color: #ffa31a;
    color: white;
}

.finish-checkout {
    margin: 10px auto;
    display: block;
}

#order-again {
    float: right;
    right: 10px;
    top: 60px;
    position: fixed;
    display: inline;
    width: 125px;
    color: white;
    background-color: black;
    border: 1px solid #ffa31a;
    padding: 5px;
}

#order-again:hover {
    background-color: #ffa31a;
    color: white;
    border-color: black;
}

/* this section is for the login */

#home-body {
    max-height: 100vh;
}

.logo-container {
    position: absolute;
    left: 0;
    margin-left: 1%;
    margin-top: 2px;
    transition: .3s;
}

.logo {
    width: 100%;
    height: 50px;
    margin: 0px 0 0 5px;
    border-radius: 9px;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 0.2rem 0 0.2rem 0;
    margin-bottom: 0.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    font-size: 18px;
    z-index: 99;
}

.active {
    display: flex;
    padding: .5rem;
    align-items: center;
    margin: 0 10px 0 10px;
    height: 100%;
    color: white;
    text-decoration: none;
}

.active:hover, .cart-button:hover {
    background-color: #ffa31a;
    color: black;
    transition: .3;
}
.editor-btn {
    opacity: .8;
}
.editor-btn:hover{
    opacity: 1;
}

.cart-tab {
    position: absolute;
    right: 0;
    margin-right: 5%;
    color: white;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    height: 80%;
}

.cart-icon {
    width: 30px;
    height: 20px;
}

.tab-margin {
    margin-top: 8rem;
}

.tab {
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    border: 1px solid #ffa31a;
    background-color: rgba(0,0,0,0.3);
    margin: 10px  auto;
    padding: 10px 50px;
    width: fit-content;
}

.spaceButtons {
    max-width: 100%;
    padding-right:0rem;
}

.spaceButtons1 {
    max-width: 100%;
    padding-left: 2rem;
}

.login-and-signup {
    display: flex;
    justify-content: center;
    height: 60vh;
    margin-bottom: 3.7rem;
}

.tabcontent {
    animation: fadeEffect .5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.login-info, .signup-info {
    width: 300px;
    border: 5px solid #ffa31a;
    background-color: #808080;
    padding: 20px;
    margin: 20px;
    max-height: 25%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.login-username, .login-pw, .signup-name, .signup-pw {
    color: white;
}

label {
    display: block;
    font: .9rem;
}

.btn-login1, .btn-signup1 {
    padding: 10px;
    background-color: #292929;
    color: #ffa31a;
    font-size: 15px;
    margin: 10px 0px;
    transition: 0.25s;
    border-radius: 12.5px;
}

.btn-login1:hover, .btn-signup1:hover {
    background-color: #ffa31a;
    color: black;
    transition: 0.25s;
}

input {
    width: 100%;
    margin: 0 auto;
}

input[type='submit'], label {
    margin-top: 1rem;
}

.login-anotherdiv, .signup-anotherdiv{
    text-align: left;
}

.signup-anotherdiv {
    display: none;
}

.signup p {
    align-items: center;
    padding-left: 40%;
    color: white;
}

#sign-out-btn {
    display: none;
}

/* this section is for the menu */
#menu-title {
    background-color: #b4b4b4;
    width: fit-content;
    margin: 80px auto 50px auto;
    clear: both;
    border: 2px solid black;
}

#menu {
    width: 60%;
    margin: -25px auto 60px auto;
    color: #292929;
}

.menu-category {
    overflow: hidden;
    border: 1px solid black;
    width: 100%;
    background-color: #b4b4b4;
    height: fit-content;
    padding: 30px 0px 30px 30px;
}

.item-div {
    display: none;
    border-top: 2px solid rgb(255, 163, 26);
}

.item {
    border-bottom: 2px solid rgb(255, 163, 26);
    padding: 15px 0px;
}

.ion-icon {
    font-size: large;
    line-height: 50%;
    margin-bottom: -3px;
    margin-left: 3px;
}

.item-desc, .item-price {
    display: inline;
}

.add-cart {
    padding: 10px;
    background-color: rgb(0, 214, 0);
    color: white;
    font-size: 15px;
    display: block;
    margin: 10px 0px;
    border-radius: 10px;
}

.category-title {
    padding-bottom: 10px;
}

.menu-pic {
    height: 50px;
    width: auto;
    margin: 0px 0px -15px 5px;
} 

.editor-btn {
    width: 150px;
    height: 25px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    display: none;
}

.add-item {
    background-color: green;
}

.set-special {
    background-color: goldenrod;
}

.delete-item {
    background-color: maroon;
}

.change-price {
    background-color: darkgreen;
}

.change-name {
    background-color: darkblue;
}

.change-description {
    background-color: purple;
}

/* home page */

#manager-special {
    margin-top: 5rem;
    float: left;
}

.home-special-title {
    font-family: sans-serif;
    font-size: 300px;
    margin-bottom: -105px;
    text-shadow: 10px 5px 5px black;
    color: rgb(95, 95, 95);
}
.home-title {
    font-family: sans-serif;
    font-size: 85px;
    color: #f69314;
    margin-left: 50px;
    text-shadow: 5px 5px 5px black;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    width:300px;
    position: relative;
    margin: 12rem 12rem 0 0;
    float: right;
}
  
/* Hide the images by default */
.mySlides {
    display:none;
}

#mySlides1 {
    display: block;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 93%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.inactive, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.food-pics {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid rgba(119, 119, 119, 0.301);
    clear: both;
}

.food-wrap {
    padding-top: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.food-wrap::-webkit-scrollbar {
    height: 10px;
}

.food-wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.food-wrap::-webkit-scrollbar-thumb {
    background-color: rgb(119, 119, 119);
    border: 1px solid black;
    border-radius: 100px;
}

.food-block {
    display: flex;
}

.food-slide {
    display: flex;
    margin-bottom: 2rem;
    background-color: #808080;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
}

.food-slide img {
    height: 230px;
    width: 300px;
    border-radius: 20px 0 0 20px;
}

.food-slide button {
    margin-top: 1rem;
    height: 45px;
    width: 65px;
    border-radius: 20px;
}

.food-slide a {
    text-decoration: none;
}

.description {
    padding: 20px;
    width: 300px;
    white-space: normal;
}

.description h3 {
    font-size: 26px;
    font-weight: 300;
    padding: 5px 0;
}

.description p {
    font: 16px Roboto, Helvetica, Sans-serif;
    color: black;
    margin: 0;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #f69414;
    color: white;
}

.btn a:visited, .btn a:link, .btn a:hover, .btn a:active {
    color: white;
}

/* about section  */

.home-about-us {
    background-color: #303030;
    border: 3px solid black;
    text-align: center;
    padding: 30px 5% 30px 5%;
    letter-spacing: 1.25px;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 20px;
    color: #f69314;
}

.home-about-us h1 {
    padding-bottom: 8px;
}



/* contact info of home screen*/
.contact {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details, .contact-location {
    height: 57%;
    width: 20%;
    max-width: 500px;
}
.contact-details {
    padding: 30px;
    background-color: #f69314;
    color: black;
}
.contact-details h1 {
    font-size: 1rem;
}
.contact-form input {
    width: 100%;
    height: 25px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.submit-input {
    font-size: 16px;
    padding: 15px 10px;
    margin-top: 5px;
    background: gray;
    border-radius: 30px;
    border: none;
    color: #fff;
}
.contact-location {
    border: solid 3px black;
}

iframe {
    height: 100%;
    width: 100%;
}

.name {
    display: block;
}

.box, .msg{
    color: black;
}

.extra {
    font-size: 16px;
}


/* footer */

.footer {
    padding: 10px;
    background-color: #292929;
    color: white;
    text-align: center;
}

.facebook {
    color: #4267B2;
}

.facebook:hover {
    color: #33518f;
}

.twitter {
    color: #1DA1F2;
}

.twitter:hover {
    color: #1887cc;
}

.instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.instagram:hover {
    background: radial-gradient(circle at 33% 100%, #fed273ab 4%, #c44237 30%, #a72260 62%, #69247c 85%, #3f49a1);
}

.youtube {
    color: #FF0000;
}

.youtube:hover {
    color: #d10101;
}

.tumblr {
    color: #34526f;
}

.tumblr:hover {
    color: #29425a;
}

.reddit {
    color: #FF5700;
}

.reddit:hover {
    color: #da4900;
}

.github {
    color: #171515;
}

.github:hover {
    color: #000000;
    background-color: #4b4343;
}

.linkedin {
    color: #1DA1F2;
}

.linkedin:hover {
    color: #1887cc;
}

.pinterest {
    color: #E60023;
}

.pinterest:hover {
    color: #c5011e;
}
.snapchat {
    color: #FFFC00;
}

.snapchat:hover {
    color: #ccc900;
}

.tinder {
    color: #fe3c72;
}

.tinder:hover {
    color: #dd3464;
}

/* application page  */

ul {
    display: block;
    list-style-type: none;
}

.application {
    margin-top: 4rem;
    padding: 1rem;
}

.container {
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
    padding: 1rem 1rem;
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
}

.container h1, p {
    text-align: center;
}

hr {
    border: 1px solid #f69314;
}

.full-name {
    padding-top: 1rem;
    display: flex;
    width: 100%;
}

.full-name b {
    padding-left: 1rem;
}

#fname {
    margin-left: 1rem;
    width: 15%;
    margin-top: 5px;
}

.dob-app {
    display: flex;
    flex-direction: column;
    /* float: left; */
    /* margin: 2rem 0 0 5rem; */
    width: 33%;
}

.dob-app label {
    padding-bottom: 1rem;
}

.dob {
    align-items: center;
    padding-bottom: 2.3rem;
}

.email-app {
    padding-bottom: 2.3rem;
}

.address-app {
    display: flex;
    /* float: right; */
    width: 33%;
}

.address {
    margin: 3rem 28rem 0 0;
    align-items: center;
}

#street {
    width: 250%;
    margin-top: 5px;
}

#position {
    clear: both;
}

.form-line1 {
    margin: 2rem 38%;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}

.form-line3 {
    display: flex;
}

.name-div {
    display: block;
    width: 40%;
}

.form-input {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

/* .form-sub-label-container input, .form-sub-label-container label {
    display: flex;
    justify-content: flex-end;
} */
