#menu {
    width: 80%;
    margin: 25px auto;
}
.menu-category {
    overflow: hidden;
    border: 1px solid black;
    width: 100%;
    height: fit-content;
    padding: 15px;
}
.item-div {
    display: none;
}
.item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
ion-icon {
    font-size: large;
    line-height: 50%;
    margin-bottom: -3px;
    margin-left: 3px;
}
.item-desc, .item-price {
    display: inline;
}
.add-cart {
    padding: 10px;
    background-color: rgb(0, 214, 0);
    color: white;
    font-size: 15px;
    display: block;
    margin: 10px 0px;
}